$color : #F9F9F9;
$padding-login-left : 10px;
$padding-login-top : 5px;
$size-login : 18px;

//** home page **//

$get-color : #0063E5;
$margin-btn : 1rem;
$padding-get : 1rem;

$color-text : #c0c0c0;

$font: "avenirbook";

//** h2 **//

$size : 43px;
$weight : 400;
$line : 54px;

